
doctype 5
html
  head
    title CC
    link(rel='stylesheet',href='coffee.css')
    script(src='http://192.168.1.101:7777/doodle.js')
    script(src='coffee-script.js')
    script(src='tmpl.js')
    script(src='codearea.js')
    script(src='handle.js')
  body
    p nothing